<center> <h1>DS & ML Final Test</h1> </center>

**NAME**: Write your name here

**Note:** Run all cells and save your test notebook with name "**ùóóùó¶&ùó†ùóü Hybird 04**_ùó¨ùóºùòÇùóø_ùó°ùóÆùó∫ùó≤_ùóµùó≤ùóøùó≤.ùó∂ùóΩùòÜùóªùóØ" then submit it on below mentioned google form link.

<img src='https://i.pinimg.com/originals/28/6c/e0/286ce0190a188a8958bd81b5420eb09d.gif'>

## Data Wrangling

Import necessary libraries

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 500)

Reading Dataset from csv

In [2]:
df_w=pd.read_csv('wrangling.csv')
df_w.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### Section 1: Identify erroneous data and figuring out missing values

*Hint: Make sure to replace "?" with np.Nan first*

In [3]:
#write code here
df_w.replace("?", np.nan, inplace=True)

In [4]:
#write code here
df_w.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [5]:
#write code here
df = df_w.copy()

### Section 2: Deal with missing data

In [8]:
#write code here
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [10]:
#write code here
df['bore'] = pd.to_numeric(df['bore'], errors='coerce')
df['bore'].mean()

3.3297512437810957

In [11]:
#write code here
df['stroke'] = pd.to_numeric(df['stroke'], errors='coerce')
df['stroke'].mean()

3.2554228855721337

In [ ]:
#write code here

In [ ]:
#write code here

In [ ]:
# Write code here

# EDA

 Import libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

 load data and store in dataframe df_e:

In [ ]:
data_e = pd.read_csv('eda.csv')
df_e=data_e.copy()

### Section 1: Heat map

In [ ]:
# Write code here

In [ ]:
# Write code here

In [ ]:
# Write code here

In [ ]:
# Write code here

In [ ]:
# Write code here

# Machine Learning

Loading data

In [ ]:
data_c = pd.read_csv('classification.csv')
df_c = data_c.copy()
df_c.head()

In [ ]:
df_c.shape

## Section 1: Decision Tree

Please make sure to complete the following tasks in order.
1. Create dependent and independent variables
2. Split data into train and test with test size of 20% and random state = 25
3. Import decision tree classifier and train it with default settings and random state = 25
4. Get predictions on the trained model
5. Get classification report for the model

**Task 1: Creating dependent and independent variables**

*Note: Target_Flag is dependent variable*

In [ ]:
# write code here

**Task 2: Splitting data into train and test with test size of 20% and random state = 25**

In [ ]:
from sklearn.model_selection import train_test_split
# Write the code below to split the data

In [ ]:
# Print the shapes of above split data

**Task 3: Importing decision tree classifier and training it with default settings and random state = 25**

In [ ]:
# Write the code to import decision tree from sklearn

In [ ]:
# Train the model

**Task 4: Get predictions**

In [ ]:
# Write the code to get predictions

**Task 5: Get Classification report**

In [ ]:
# Write the code here

## Section 2: Random Forest

Perform the following tasks in order
1. Import random forest classifier and train it with default settings and random state = 25
2. Get predictions on the trained model
3. Get classification report for the model

**Task 1:Importing random forest classifier and training it with default settings and random state = 25**

In [ ]:
# Write the code to import random forest from sklearn

In [ ]:
# Train the model

**Task 2: Write the code to get predictions**

In [ ]:
# Write the code here

**Task 3: Get classification report**

In [ ]:
# Write the code here